@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n276kr');
  src:  url('fonts/icomoon.eot?n276kr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n276kr') format('truetype'),
    url('fonts/icomoon.woff?n276kr') format('woff'),
    url('fonts/icomoon.svg?n276kr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons_rse:before {
  content: "\e925";
}
.icon-icons_calculadora-prestamos:before {
  content: "\e923";
}
.icon-icons_prensa:before {
  content: "\e924";
}
.icon-icons_activos-extraordinarios:before {
  content: "\e914";
}
.icon-icons_banca-internacional:before {
  content: "\e915";
}
.icon-icons_banca-personas:before {
  content: "\e916";
}
.icon-icons_chat-banner:before {
  content: "\e917";
}
.icon-icons_ebanking-empresas:before {
  content: "\e918";
}
.icon-icons_informe-financiero:before {
  content: "\e919";
}
.icon-icons_medidas-seguridad:before {
  content: "\e91a";
}
.icon-icons_museo:before {
  content: "\e91b";
}
.icon-icons_otros-servicios:before {
  content: "\e91c";
}
.icon-icons_subasta:before {
  content: "\e91d";
}
.icon-icons_tazas-interes:before {
  content: "\e91e";
}
.icon-icons_tdr-cultura:before {
  content: "\e91f";
}
.icon-icons_tdr-desarrollo:before {
  content: "\e920";
}
.icon-icons_tdr-estrategia:before {
  content: "\e921";
}
.icon-icons_tdr-fortalecimiento:before {
  content: "\e922";
}
.icon-icons_chat:before {
  content: "\e912";
}
.icon-icons_mercado-valores:before {
  content: "\e913";
}
.icon-icons_1:before {
  content: "\e900";
}
.icon-icons_2:before {
  content: "\e901";
}
.icon-icons_3:before {
  content: "\e902";
}
.icon-icons_4:before {
  content: "\e903";
}
.icon-icons_5:before {
  content: "\e904";
}
.icon-icons_6:before {
  content: "\e905";
}
.icon-icons_7:before {
  content: "\e906";
}
.icon-icons_8:before {
  content: "\e907";
}
.icon-icons_9:before {
  content: "\e908";
}
.icon-icons_10:before {
  content: "\e909";
}
.icon-icons_agropyme:before {
  content: "\e90a";
}
.icon-icons_banca-pyme:before {
  content: "\e90b";
}
.icon-icons_bancaInternacional:before {
  content: "\e90c";
}
.icon-icons_bancaPersonas:before {
  content: "\e90d";
}
.icon-icons_depositos:before {
  content: "\e90e";
}
.icon-icons_ebaninkg-personas:before {
  content: "\e90f";
}
.icon-icons_ebanking-express:before {
  content: "\e910";
}
.icon-icons_otrosServicios:before {
  content: "\e911";
}
